body {
background-color: #e0e0e0;
}
.header {
background-color: #555;
color: white;
padding: 10px 0;
}

.header h1 {
margin: 0;
padding-left: 20px;
}

.header .nav {
padding-right: 20px;
}

.popular-city {
    background-color: #cccccc;
    text-align: center;
    padding: 40px 0;
}
.ranking {
    background-color: #d9d9d9;
    padding: 20px;
}
.ranking .list-group-item {
    background-color: #e6e6e6;
}
