body {
    background-color: rgb(109,87,175);;
    }
    
    .header {
    background-color: rgb(109,87,175);
    color: white;
    padding: 10px 0;
    }
    
    .header h1 {
    margin: 0;
    padding-left: 20px;
    }
    
    .header .nav {
    padding-right: 20px;
    }
    
    .popular-city {
        color: gold;
        background-color: #cccccc;
        text-align: center;
        padding: 100px 100px;
        background-image: url(/img/banner.jpg);
        background-size: cover; 
        background-position: center; 
        background-attachment: fixed; 
    }

    #popularCities{
        font-size: 5rem;
    }
    .ranking {
        background-color: white;
        padding: 20px;
    }
    .ranking .list-group-item {
        background-color: wheat;
    }
    
    .city-cards {
        padding: 50px;
    }
    .city-card {
        background-color: rgb(109,87,175);
        color: white;
        text-align: center;
        padding: 50px;
        margin-bottom: 20px;
        height: 200px;
    }
    .restaurant {
        background-color: #d9d9d9;
        padding: 20px;
        text-align: center;
    }
    .french, .roma, .dubai, .tokyo {
        width: 100px;
        height: 100px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        margin: 10px;
        background-size: cover; 
        background-position: center;
    }

    .french{
        background-image: url(/img/rest1.webp);
    }

    .roma{
        background-image: url(/img/rest2.webp);
    }

    .tokyo{
        background-image: url(img/rest3.webp);
    }

    .dubai{
        background-image: url(img/rest4.webp);
    }